doctype html
html(lang='en')
  head
    title User Page
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css')
    style.
      table.ui.celled img { display: inline-block; }
      footer { margin: 35px 0 15px 0; text-align: center }
  body
    main#main
    h1.ui.center.aligned.header Tasks
    .ui.container
      table.ui.celled.table.center.aligned
        thead
          tr
            th User
            th Task
            th Description
            th Due Date
        tbody
          each task in tasks
            tr
              td #{task.user}
              td #{task.name}
              td #{task.todo}
              td #{new Date(task.dueDate)}
          .button
            a(class="ui button" href="/logout" ) Logout
        tfoot
          tr
            th(colspan='6')
    footer
      p © #{new Date().getFullYear()} Virtualização de Redes